.login-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
}

#app .form-input{
    display: flex;
    flex-direction: column;
 }
 #app .form-input label{
    margin: 0.5rem 0rem;
 }
 #app .form-input input{
     background-color: #323646;
     border: 1px solid #04b882;
     border-bottom-left-radius: 15px;
     border-top-right-radius: 15px;
     padding: 15px 10px;
     color: #fff;
     margin-top: 0.5rem;
 }
 #app .form-button input{
     background-color: #04b882;
     border: 1px solid #04b882;
     padding: 15px 10px;
     margin-top: 2rem;
        border-radius: 10px;
     color: #fff;
     width: 100%;
 }

 #app .form-button button{
    background-color: #2b2d3a;
    padding: 10px;
    margin-top: 2rem;
    border: 1px solid #04b882;
    border-bottom-left-radius: 20px;
     border-top-right-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
}

#app .form-button button:hover , #app .form-button input:hover{
    background-color: #1e1f27;
}


@media only screen and (max-width: 600px){ 
    .form-button{
        display: flex;
        justify-content: center;
    }
}